<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ANNOROAD</title>
  <link rel="icon" href="/an.ico" type="image/x-icon">

  <script type="text/javascript" charset="utf-8" src="https://mis.solargenomics.com/aliyunjs/es6-promise.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://mis.solargenomics.com/aliyunjs/aliyun-oss-sdk-5.3.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://mis.solargenomics.com/aliyunjs/aliyun-upload-sdk-1.5.0.min.js"></script>
</head>

<body>
<div id="root"></div>

</body>


</html>
